<a href="https://colab.research.google.com/github/ParkGeonHwi/-/blob/main/ch6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1.
for i in range(2, 101):
    if i%2 == 0 :
      print(i, end = " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [4]:
2.
year = 0
balance = 1000

while balance <= 2000 :
  year = year + 1
  interest = balance * 0.07 
  balance = balance + interest
print(year, "년이 걸립니다.")

11 년이 걸립니다.

In [6]:
3.
n = 1234
sum = 0
while n > 0:
    digit = n % 10
    sum = sum + digit
    n = n // 10
print(sum)

10

In [14]:
4.
ans = 0
while ans != 3*9 :
    ans = int(input("3 x 9 = "))
print("맞았습니다.")

3 x 9 = 27
맞았습니다.

In [21]:
5.
sum = 0
while True:
    x = int(input("정수를 입력하시오.(0을 입력하면 덧셈 실행): "))
    if x == 0:
        break;
    sum = sum + x
print("합은  ", sum, "입니다. ")

정수를 입력하시오.(0을 입력하면 덧셈 실행): 4654
정수를 입력하시오.(0을 입력하면 덧셈 실행): 45
정수를 입력하시오.(0을 입력하면 덧셈 실행): 0
합은   4699 입니다.

In [23]:
6.
from random import randint

for i in range(3) :
    d1 = randint(1, 6)
    d2 = randint(1, 6)
    print("첫번째 주사위=", d1, "두번째 주사위=", d2)

첫번째 주사위= 3 두번째 주사위= 3
첫번째 주사위= 4 두번째 주사위= 6
첫번째 주사위= 6 두번째 주사위= 2

In [28]:
7.
# import turtle
# t = turtle.Turtle()
# t.shape("turtle")
# t.left(90)

# for i in range(1, 7) :
#     t.fd(100)
#     t.fd(-30)
#     t.lt(60)
#     t.fd(60)
#     t.fd(30)
#     t.fd(-30)

#     t.rt(120)
#     t.fd(30)
#     t.fd(-30)

#     t.lt(60)
#     t.fd(-70)
#     t.left(60)
#     t._streen.exitonclick()

7.0

In [30]:
8.
# import turtle

# myPen = turtle.Turtle()
# myPen.speed(0)
# myPen.color("#ff0000")

# for j in range(1, 10):
#     for i in range(1, 6):
#         myPen.left(144)
#         myPen.forward(200)
#     myPen.left(10)

# myPen._screen.exiltonclick()

8.0

In [32]:
9.
# import turtle
# import random

# t = turle.Turtle()
# t.shape("turtle")

# for j in range (1, 10) :
#     t.up()
#     x = random.randint(-200, 200)
#     y = random.randint(-200, 200)
#     t.goto(x, y)
#     t.down()
#     t.circle(r)
# t._screen.exitonclick()

9.0